@font-face {font-family:al-jazeera-arabic-bold;src:url(../../assets/css/fonts/al-jazeera-arabic-bold.woff) format('woff'),url(../../assets/css/fonts/al-jazeera-arabic-bold.woff2) format('woff2'),url(../../assets/css/fonts/al-jazeera-arabic-bold.otf) format('opentype'),url(../../assets/css/fonts/al-jazeera-arabic-bold.eot) format('embedded-opentype'),url(../../assets/css/fonts/al-jazeera-arabic-bold.ttf) format('truetype');font-style:normal;font-display:swap}
@font-face {font-family:al-jazeera-arabic_regular;src:url(../../assets/css/fonts/al-jazeera-arabic_regular.woff) format('woff'),url(../../assets/css/fonts/al-jazeera-arabic_regular.woff2) format('woff2'),url(../../assets/css/fonts/al-jazeera-arabic_regular.otf) format('opentype'),url(../../assets/css/fonts/al-jazeera-arabic_regular.eot) format('embedded-opentype'),url(../../assets/css/fonts/al-jazeera-arabic_regular.ttf) format('truetype');font-style:normal;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-Regular.eot);src:url(../../assets/css/fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-Regular.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-Regular.woff) format('woff'),url(../../assets/css/fonts/OpenSans-Regular.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-Regular.svg#OpenSans-Regular) format('svg');font-weight:400;font-style:normal;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-Italic.eot);src:url(../../assets/css/fonts/OpenSans-Italic.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-Italic.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-Italic.woff) format('woff'),url(../../assets/css/fonts/OpenSans-Italic.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-Italic.svg#OpenSans-Italic) format('svg');font-weight:400;font-style:italic;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-Medium.eot);src:url(../../assets/css/fonts/OpenSans-Medium.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-Medium.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-Medium.woff) format('woff'),url(../../assets/css/fonts/OpenSans-Medium.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-Medium.svg#OpenSans-Medium) format('svg');font-weight:500;font-style:normal;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-SemiBold.eot);src:url(../../assets/css/fonts/OpenSans-SemiBold.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-SemiBold.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-SemiBold.woff) format('woff'),url(../../assets/css/fonts/OpenSans-SemiBold.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold) format('svg');font-weight:600;font-style:normal;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-SemiBoldItalic.eot);src:url(../../assets/css/fonts/OpenSans-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-SemiBoldItalic.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-SemiBoldItalic.woff) format('woff'),url(../../assets/css/fonts/OpenSans-SemiBoldItalic.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic) format('svg');font-weight:600;font-style:italic;font-display:swap}
@font-face {font-family:'Open Sans';src:url(../../assets/css/fonts/OpenSans-Bold.eot);src:url(../../assets/css/fonts/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/OpenSans-Bold.woff2) format('woff2'),url(../../assets/css/fonts/OpenSans-Bold.woff) format('woff'),url(../../assets/css/fonts/OpenSans-Bold.ttf) format('truetype'),url(../../assets/css/fonts/OpenSans-Bold.svg#OpenSans-Bold) format('svg');font-weight:700;font-style:normal;font-display:swap}
@font-face {font-family:Poppins;src:url(../../assets/css/fonts/Poppins-Regular.eot);src:url(../../assets/css/fonts/Poppins-Regular.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/Poppins-Regular.woff2) format('woff2'),url(../../assets/css/fonts/Poppins-Regular.woff) format('woff'),url(../../assets/css/fonts/Poppins-Regular.ttf) format('truetype'),url(../../assets/css/fonts/Poppins-Regular.svg#Poppins-Regular) format('svg');font-weight:400;font-style:normal;font-display:swap}
@font-face {font-family:Poppins;src:url(../../assets/css/fonts/Poppins-Italic.eot);src:url(../../assets/css/fonts/Poppins-Italic.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/Poppins-Italic.woff2) format('woff2'),url(../../assets/css/fonts/Poppins-Italic.woff) format('woff'),url(../../assets/css/fonts/Poppins-Italic.ttf) format('truetype'),url(../../assets/css/fonts/Poppins-Italic.svg#Poppins-Italic) format('svg');font-weight:400;font-style:italic;font-display:swap}
@font-face {font-family:Poppins;src:url(../../assets/css/fonts/Poppins-Medium.eot);src:url(../../assets/css/fonts/Poppins-Medium.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/Poppins-Medium.woff2) format('woff2'),url(../../assets/css/fonts/Poppins-Medium.woff) format('woff'),url(../../assets/css/fonts/Poppins-Medium.ttf) format('truetype'),url(../../assets/css/fonts/Poppins-Medium.svg#Poppins-Medium) format('svg');font-weight:500;font-style:normal;font-display:swap}
@font-face {font-family:Poppins;src:url(../../assets/css/fonts/Poppins-SemiBold.eot);src:url(../../assets/css/fonts/Poppins-SemiBold.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/Poppins-SemiBold.woff2) format('woff2'),url(../../assets/css/fonts/Poppins-SemiBold.woff) format('woff'),url(../../assets/css/fonts/Poppins-SemiBold.ttf) format('truetype'),url(../../assets/css/fonts/Poppins-SemiBold.svg#Poppins-SemiBold) format('svg');font-weight:600;font-style:normal;font-display:swap}
@font-face {font-family:Poppins;src:url(../../assets/css/fonts/Poppins-Bold.eot);src:url(../../assets/css/fonts/Poppins-Bold.eot?#iefix) format('embedded-opentype'),url(../../assets/css/fonts/Poppins-Bold.woff2) format('woff2'),url(../../assets/css/fonts/Poppins-Bold.woff) format('woff'),url(../../assets/css/fonts/Poppins-Bold.ttf) format('truetype'),url(../../assets/css/fonts/Poppins-Bold.svg#Poppins-Bold) format('svg');font-weight:700;font-style:normal;font-display:swap}
body {font-family:'Open Sans',sans-serif;color:#006}
a {color:#1056ad;transition:all .5s ease-in-out;text-decoration:none}
a:hover{color:#f80;text-decoration:none}
h1,h2,h3,h4,h5 {font-family:Poppins,sans-serif}
#preloader:before {content:"";position:fixed;top:calc(50% - 60px);left:calc(50% - 60px);width:120px;height:120px;-webkit-animation:animate-preloader 1s linear infinite;animation:animate-preloader 1s linear infinite;background:#fff url(../../assets/img/preloader.png) no-repeat center center}
#preloader {position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;overflow:hidden;background:#fff}
@keyframes animate-preloader {0% {transform:rotate(0deg);}100% {transform:rotate(360deg)}}
.back-to-top {position:fixed;visibility:hidden;opacity:0;right:15px;bottom:15px;z-index:996;background:#006;width:40px;height:40px;border-radius:50px;transition:all .4s ease-in-out}
.back-to-top i {font-size:28px;color:#fff;line-height:0}
.back-to-top:hover {background:#3284f1;color:#fff}
.back-to-top.active {visibility:visible;opacity:1}
@media screen and (max-width:768px) {[data-aos-delay] {transition-delay:0s!important}}
#topbar {background:#006;height:40px;font-size:16px;transition:all 1.5s ease-in-out;color:#fff;padding:0;font-family:Poppins,sans-serif}
#topbar a {color:#fff}
#topbar .contact-info .chat {font-size:16px;padding-left:5px;font-family:Poppins,sans-serif;line-height:2}
#topbar .contact-info .chat:hover {color:#f80;text-decoration:underline}
#topbar .contact-info i {font-style:normal;font-size:150%;color:#fff;animation-duration:4s}
#topbar .social-links a {font-size:150%;line-height:0;margin-left:20px}
#topbar .social-links a:hover {color:#f80}
#header {transition:all 1.5s ease-in-out;background:#fff;height:86px;box-shadow:0 2px 15px rgba(0,0,0,0.1)}
#header.fixed-top {height:70px;box-shadow:1px 1px 7px 2px #888}
#header .logo img {display:inline-block;aspect-ratio:auto 3665 / 1012;width:auto;max-height:70px}
.scrolled-offset {margin-top:70px}
.navbar {padding:0;float:right;font-family:Poppins,al-jazeera-arabic-bold,sans-serif;font-weight:600}
.navbar ul {margin:0;padding:0;display:flex;list-style:none;align-items:center}
.navbar li {position:relative}
.navbar>ul>li {padding:10px 15px}
.navbar a,.navbar a:focus {display:flex;align-items:center;justify-content:space-between;padding:0 3px;font-size:16px;color:#222;white-space:nowrap;text-transform:uppercase;transition:all .5s ease-in-out;position:relative}
.navbar a i,.navbar a:focus i {font-size:16px;line-height:0;margin-left:5px}
.navbar>ul>li>a:before {content:"";position:absolute;height:2px;bottom:-6px;left:0;background-color:#f80;visibility:hidden;width:0;transition:all .3s ease-in-out}
.navbar a:hover:before,.navbar li:hover>a:before,.navbar .active:before {visibility:visible;width:100%}
.navbar a:hover,.navbar .active,.navbar .active:focus,.navbar li:hover>a {color:#1056ad}
.navbar .dropdown ul {display:block;position:absolute;left:28px;top:calc(100% + 30px);margin:0;padding:10px 0;z-index:99;opacity:0;visibility:hidden;background:#fff;box-shadow:0 0 30px rgba(127,137,161,.25);transition:all .3s ease-in-out}
.navbar .dropdown ul li {min-width:200px}
.navbar .dropdown ul a {padding:10px 20px;font-weight:500}
.navbar .dropdown ul a i {font-size:16px}
.navbar .dropdown ul a:hover,.navbar .dropdown ul .active:hover,.navbar .dropdown ul li:hover>a {color:#fff;background:#1056ad}
.navbar .dropdown:hover>ul {opacity:1;top:100%;visibility:visible}
.navbar .dropdown .dropdown ul {top:0;left:calc(100% - 30px);visibility:hidden}
.navbar .dropdown .dropdown:hover>ul {opacity:1;top:0;left:100%;visibility:visible}
@media screen and (max-width:1366px) {.navbar .dropdown .dropdown ul {left:-90%}.navbar .dropdown .dropdown:hover>ul {left:-100%}}
.mobile-nav-toggle {color:#222;font-size:28px;cursor:pointer;display:none;line-height:0;transition:all .5s ease-in-out}
.mobile-nav-toggle.bx-x {color:#fff}
@media screen and (max-width:991px) {.mobile-nav-toggle {display:block;padding-top:0}.navbar ul {display:none}}
.navbar-mobile {position:fixed;overflow:hidden;top:0;right:0;left:0;bottom:0;background:rgba(26,26,26,.9);transition:all .3s ease-in-out;z-index:999}
.navbar-mobile .mobile-nav-toggle {position:absolute;top:35px;right:15px}
.navbar-mobile ul {display:block;position:absolute;top:55px;right:15px;bottom:15px;left:15px;padding:10px 0;background-color:#fff;overflow-y:auto;transition:all .3s ease-in-out}
.navbar-mobile a,.navbar-mobile a:focus {padding:10px 20px;font-size:17px;color:#222}
.navbar-mobile>ul>li {padding:2px}
.navbar-mobile a:hover:before,.navbar-mobile li:hover>a:before,.navbar-mobile .active:before {visibility:hidden}
.navbar-mobile a:hover,.navbar-mobile .active,.navbar-mobile li:hover>a {color:#fff;background:#f80}
.navbar-mobile .getstarted,.navbar-mobile .getstarted:focus {margin:15px}
.navbar-mobile .dropdown ul {position:static;display:none;margin:10px 20px;padding:10px 0;z-index:99;opacity:1;visibility:visible;background:#fff;box-shadow:0 0 30px rgba(127,137,161,0.25)}
.navbar-mobile .dropdown ul li {min-width:200px}
.navbar-mobile .dropdown ul a {padding:10px 20px}
.navbar-mobile .dropdown ul a i {font-size:17px}
.navbar-mobile .dropdown ul a:hover,.navbar-mobile .dropdown ul .active:hover,.navbar-mobile .dropdown ul li:hover>a {color:#fff;background:#1056ad}
.navbar-mobile .dropdown>.dropdown-active {display:inline-block}
#intro {width:100%;height:78vh;overflow:hidden;position:relative;background:#000}
#intro .carousel-item::before {content:"";background-image:linear-gradient(to top left,rgba(241,246,254,.556),rgba(255,255,255,.95))}
@media screen and (max-height:579px) {#intro {height:78vh}}
@media screen and (min-height:580px) {#intro {height:88vh}}
#intro .carousel,#intro .carousel-inner,#intro .carousel-item,#intro .carousel-item::before {position:absolute;bottom:0;top:0;left:0;right:0}
#intro .carousel-item {background-size:cover;background-position:top;background-repeat:no-repeat}
#intro .carousel-container {display:flex;justify-content:center;align-items:center;position:absolute;bottom:0;top:0;left:30px;right:30px}
#intro .container {text-align:center}
#intro .carousel-item .carousel-container .container p {font-family:Poppins,sans-serif;font-size:70px;font-weight:600;line-height:1.2}
#intro .carousel-item .carousel-container .container p span {font-size:35px}
@media screen and (max-width:500px) {#intro .carousel-item .carousel-container .container p {font-size:50px}}
@media screen and (max-width:500px) {#intro .carousel-item .carousel-container .container p span {font-size:25px}}
#intro .carousel-fade {overflow:hidden}
#intro .carousel-fade .carousel-inner .active.carousel-item-end,#intro .carousel-fade .carousel-inner .active.carousel-item-start,#intro .carousel-fade .carousel-inner .carousel-item {opacity:0}
#intro .carousel-fade .carousel-inner .active,#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {opacity:1;transition:1.5s ease-in-out}
#intro .carousel-fade .carousel-inner .active.carousel-item-end,#intro .carousel-fade .carousel-inner .active.carousel-item-start,#intro .carousel-fade .carousel-inner .carousel-item-next,#intro .carousel-fade .carousel-inner .carousel-item-prev {left:0;transform:translate3d(0,0,0)}
#intro .carousel-control-prev, #intro .carousel-control-next {width:12%;color:#006}
#intro .carousel-control-next:hover,#intro .carousel-control-prev:hover {color:#f80}
@media screen and (min-width:1025px) {#intro .carousel-control-prev, #intro .carousel-control-next {width:5%}}
@media screen and (max-width:1024px) {#intro .carousel-control-prev, #intro .carousel-control-next {width:48px}}
#intro .carousel-control-next-icon,#intro .carousel-control-prev-icon {background:none;font-size:32px}
#intro .carousel-indicators li:hover {background-color:#006}
#intro .carousel-indicators li {background-color:#f80;width:10px;height:3px;margin:5px;cursor:pointer}
@media screen and (max-width:992px) {#intro .carousel-indicators li {display:none}}
#intro .btn-get-started {margin-top:30px;font-size:16px;display:inline-block;padding:6px 22px;border-radius:50px;transition:.5s ease-in-out;color:#fff;background:#f80;font-family:Poppins,sans-serif;font-weight:600;letter-spacing:1px;text-transform:uppercase}
#intro .btn-get-started:hover {background:#006;color:#fff}
section {padding:60px 0;overflow:hidden}
.section-bg {background-color:#f6f9fe}
.section-title {text-align:center;padding-bottom:30px;margin:0 30px;font-family:Poppins,sans-serif}
.section-title .title {font-size:17px;padding:8px 20px;margin:0;background:#e7f1fd;color:#1056ad;display:inline-block;border-radius:50px;text-transform:uppercase;letter-spacing:1px;font-weight:600}
.section-title .subtitle {font-size:28px;font-weight:600}
.section-title .subtitle span {color:#f80}
.section-title p {margin:15px auto 0 auto;font-size:18px;line-height:2;font-weight:500}
.section-title p span {color:#1056ad}
.section-title img {border:10px solid #006;padding:10px;display:block;margin-left:auto;margin-right:auto;transition:all 1.5s ease-in-out;box-shadow:0px 2px 15px rgba(0,0,0,0.1)}
.section-title img:hover{scale:1.05}
.section-title h4 {font-size:18px;line-height:1.6;font-weight:400}
.section-title h4 a {font-weight:600}
@media screen and (min-width:1024px) {.section-title p {width:50%}}
.row span {color:#1056ad}
.breadcrumbs {padding:120px 0;background-color:#f1f6fe;min-height:40px}
.breadcrumbs h1 {font-size:32px;margin:0;text-align:center}
#our-name {visibility:auto}
#our-name .because {text-align:center;font-size:48px;color:#f80;font-weight:600}
#our-name .because span {font-size:20px;color:#006}
#our-name .icon-box {padding:30px;position:relative;overflow:hidden;background:#fff;box-shadow:0 0 29px 0 rgba(68,88,144,.12);transition:all .5s ease-in-out;border-radius:8px;z-index:1}
#our-name .icon-box::before {content:"";position:absolute;background:#cbe0fb;right:0;left:0;bottom:0;top:100%;transition:all .5s ease-in-out;z-index:-1}
#our-name .icon-box:hover::before {background:#f80;top:0;border-radius:0}
#our-name .icon {margin-bottom:15px}
#our-name .icon i {font-size:48px;line-height:1;color:#1056ad;transition:all .5s ease-in-out;animation-duration:4s}
#our-name .icon-box .description1 {margin-bottom:15px;font-size:22px;font-family:Poppins,sans-serif}
#our-name .icon-box .description1 span {font-weight:700}
#our-name .icon-box .description2 {font-size:18px;line-height:28px;margin-bottom:0;font-family:'Open Sans',sans-serif;font-weight:500}
#our-name .icon-box .description2 span {font-weight:700}
#our-name .icon-box:hover .description1, #our-name .icon-box:hover .description2, #our-name .icon-box:hover .icon i {color:#fff}
.about {visibility:auto}
.about .fourz1 {color:#f80;font-size:36px;text-align:center;padding:10px;font-family:Poppins,sans-serif;font-weight:600}
.about .fourz1 span {color:#1056AD}
.about .fourz2 {padding:0 40px;color:#1056AD;font-size:36px;text-align:center;font-weight:700}
.about .fourz2 span {color:#006}
.about .content ul {list-style:none;padding:0}
.about .content ul li {display:flex;align-items:flex-start;margin-bottom:35px}
.about .content ul li:first-child {margin-top:35px}
.about .content ul i {background:#fff;box-shadow:0 6px 15px rgba(16,110,234,.12);font-size:24px;padding:20px;margin-top:10px;margin-right:15px;color:#1056ad;border-radius:50px;transition:all 1.5s ease-in-out;animation-duration:4s}
.about .content ul i:hover {color:#fff;background:#daa520}
.about .content ul p {font-size:18px}
.about .content p:last-child {margin-bottom:0}
.about img {width:96%;border:30px solid #f80;padding:10px;display:block;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);transition:all 1.5s ease-in-out;margin-left:auto;margin-right:auto}
.about img:hover {transform:scale(1.05)}
.about .golden1 {color:#DAA520;font-style:italic;text-align:center;font-size:32px;line-height:2;font-weight:600}
.about .golden2 {color:#DAA520;font-style:italic;text-align:center;font-size:19px;font-weight:600}
.about .golden2 span {color:#006}
.about .golden3 {width:100%;height:auto;margin:auto;border:20px solid #DAA520;padding:15px;-webkit-animation:mover 4s infinite  alternate;animation:mover 4s infinite  alternate}
.about .golden {color:#DAA520;line-height:2em;font-size:20px;font-family:'Open Sans',sans-serif;font-weight:700}
.about li {color:#f80;padding-bottom:10px}
.about .trust {color:#006;font-size:18px;line-height:1.6;font-family:'Open Sans',sans-serif;font-weight:500;}
.about .vision {display:flex;font-size:18px;text-align:left}
.about .vision p {color:#f80;font-size:32px;font-family:Poppins;font-weight:600}
#skills {background:#fff}
.skills .progress {height:60px;display:block;background:none;border-radius:0;visibility:auto}
.skills .progress .skill {padding:0;margin:0 0 6px 0;display:block;font-size:17px;color:#006;font-family:Poppins,sans-serif;text-transform:uppercase;font-weight:600}
.skills .progress .skill .val {float:right;font-style:normal}
.skills .progress-bar-wrap {background:#e2eefd;height:10px}
.skills .progress-bar {width:1px;height:10px;transition:all 1.5s ease-in;background-color:#f80}
.counts {background:#fff;padding:0 60px;visibility:auto}
.counts .count-box {padding:30px 30px 25px 30px;width:100%;position:relative;text-align:center;background:#f1f6fe;-webkit-filter:drop-shadow(0 2px 2px #222);filter:drop-shadow(0 2px 2px #222)}
.counts .count-box i {position:absolute;top:-28px;left:50%;transform:translateX(-50%);font-size:24px;background:#1056ad;color:#fff;width:56px;height:56px;line-height:0;border-radius:50px;border:5px solid #fff;display:inline-flex;align-items:center;justify-content:center;transition:all .5s ease-in-out;animation-duration:4s}
.counts .count-box i:hover {background:#f80}
.counts .count-box span {font-size:32px;display:block;font-weight:600;color:#062b5b}
.counts .count-box p {padding:0;margin-top:10px;font-size:16px;font-family:Poppins,sans-serif;font-weight:500}
#services {background:#f6f9fe}
.services .icon-box {text-align:center;border-radius:8px;padding:80px 20px;transition:all .5s ease-in-out;box-shadow:0 0 29px 0 rgba(68,88,144,.12);overflow:hidden;position:relative;z-index:1;background:#fff}
.services .icon-box::before {content:"";position:absolute;background:#cbe0fb;right:0;left:0;bottom:100%;top:0;transition:all .5s ease-in-out;z-index:-1}
.services .icon-box:hover::before {background:#f80;bottom:0;border-radius:0}
.services .icon-box h2 {margin-bottom:20px;font-size:22px;line-height:1.5;font-weight:600}
.services .icon-box h2 a {color:#222;transition:all .5s ease-in-out}
.services .icon-box p {line-height:24px;font-size:18px;margin-bottom:0;text-align:left}
.services .icon-box:hover p {color:#fff}
.services .icon-box:hover h2 {color:#fff}
.services .icon-box img {padding-bottom:40px;margin-left:auto;margin-right:auto;display:block;max-width:80px;-webkit-filter:drop-shadow(0 2px 2px #222);filter:drop-shadow(0 2px 2px #222);transition:1.5s ease-in-out}
.services .icon-box img:hover {transform:scale(1.3)}
.services h3 {text-align:center;line-height:2}
.services h3 span {color:#f80}
.services img {margin-left:auto;margin-right:auto;display:block;max-width:95%;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);transition:1.5s ease-in-out}
.services img:hover {transform:scale(1.05)}
.services .welcome1 {width:95%;height:auto;border:30px solid #f80}
.services .welcome2 {width:95%;height:auto;border:30px solid #006}
.portfolio {margin-bottom:60px;visibility:auto}
.portfolio #portfolio-flters {padding:0;margin:0 auto 15px auto;list-style:none;text-align:center;border-radius:50px;padding:2px 15px}
.portfolio #portfolio-flters li {cursor:pointer;display:inline-block;padding:10px 15px 8px 15px;font-size:17px;line-height:1;color:#444;margin-bottom:5px;transition:all 1.5s ease-in-out;font-weight:600;text-transform:uppercase}
.portfolio #portfolio-flters li.filter-active,.portfolio #portfolio-flters li:hover {color:#1056ad}
.portfolio #portfolio-flters li:last-child {margin-right:0}
.portfolio .portfolio-item {margin-bottom:40px}
.portfolio .portfolio-item .portfolio-info {opacity:0;position:absolute;left:30px;right:30px;bottom:0;z-index:3;transition:all 1.5s ease-in-out;background:rgba(255,255,255,.9);padding:15px;font-size:17px;font-weight:600}
.portfolio .portfolio-item .portfolio-info p {color:#555;font-size:16px;margin-top:10px;margin-bottom:0;font-weight:700}
.portfolio .portfolio-item .portfolio-info i {font-size:24px}
.portfolio .portfolio-item .portfolio-info .preview-link,.portfolio .portfolio-item .portfolio-info .details-link {position:absolute;margin-right:10px;font-size:20px;bottom:10px;color:#3c3c3c}
.portfolio .portfolio-item .portfolio-info .preview-link,.portfolio .portfolio-item .portfolio-info .details-link i {animation-duration:4s;transition:all 1.5s ease-in-out}
.portfolio .portfolio-item .portfolio-info .preview-link:hover,.portfolio .portfolio-item .portfolio-info .details-link:hover {color:#1056ad}
.portfolio .portfolio-item .portfolio-info .details-link {right:10px}
.portfolio .portfolio-item .portfolio-links {opacity:0;left:0;right:0;text-align:center;z-index:3;position:absolute;transition:all 1.5s ease-in-out}
.portfolio .portfolio-item .portfolio-links a {color:#fff;margin:0 2px;font-size:28px;display:inline-block;transition:all 1.5s ease-in-out}
.portfolio .portfolio-item .portfolio-links a:hover {color:#6ba7f5}
.portfolio .portfolio-item:hover .portfolio-info {opacity:1;bottom:20px}
.portfolio .portfolio-item img {transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.portfolio-details {line-height:1.7em;padding-top:40px}
.portfolio-details .portfolio-details-slider img {display:inline-block;max-width:100%;transition:all 1.5s ease-in-out;height:auto}
.portfolio-details img:hover {scale:1.05}
.portfolio-details .portfolio-details-slider .swiper-pagination {margin-top:20px;position:relative}
.portfolio-details .portfolio-details-slider {position:relative;box-shadow:5px 0 30px rgb(34,34,34,.2)}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {width:12px;height:12px;background-color:#fff;opacity:1;border:1px solid #1056ad}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {background-color:#1056ad}
.portfolio-details .portfolio-info {padding:30px;box-shadow:5px 0 30px rgba(34,34,34,.2)}
.portfolio-details .portfolio-info h3 {font-size:22px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;font-weight:600}
.portfolio-details .portfolio-info ul {list-style:none;padding:0;font-size:18px}
.portfolio-details .portfolio-info ul li+li {margin-top:10px}
.portfolio-details .portfolio-description {padding:30px;font-size:18px}
.portfolio-details .portfolio-description ol li+li {margin-top:10px}
.portfolio-details .portfolio-description ul li+li {margin-top:10px}
.portfolio-details .portfolio-description h2 {font-size:24px;margin-bottom:20px;font-weight:600}
.portfolio-details .portfolio-description h3 {font-size:20px;margin-bottom:20px;font-weight:600}
.portfolio-details .portfolio-description h4 {font-size:20px;margin-bottom:20px;line-height:1.7;font-weight:600}
.portfolio-details .portfolio-description p {font-size:17px;padding:0}
.portfolio-details .portfolio-description .red {color:#b30}
.portfolio-details .portfolio-description .blue {color:#00f}
.portfolio-details .portfolio-description .black {color:#000;font-weight:600}
.portfolio-details .portfolio-description img {border:20px solid #f80;display:block;max-width:100%;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.portfolio-details .portfolio-description i {color:#b30}
.portfolio-details .portfolio-description span {color:#f80}
.pricing {background:#f1f6fe;margin-bottom:60px;visibility:auto}
.pricing .box {padding:20px;background:#fff;text-align:center;box-shadow:0 0 4px rgba(0,0,0,.12);border-radius:5px;position:relative;overflow:hidden}
.pricing .box .price {margin:-20px -20px 20px -20px;padding:20px 15px;font-size:18px;color:#777;background:#f8f8f8;font-weight:700}
.pricing .box .offer {color:#bababa;font-size:18px;font-weight:700}
.pricing .featured .price {color:#fff;background:#f80}
.pricing .box ul {padding:0;list-style:none;color:#444;text-align:center;line-height:20px}
.pricing .box ul li {padding-bottom:16px}
.pricing .btn-buy {background:#1056ad;display:inline-block;padding:8px 35px 10px 35px;border-radius:4px;color:#fff;font-size:16px;transition:all .5s ease-out;font-family:Poppins,sans-serif;font-weight:600;text-transform:uppercase}
.pricing .btn-buy:hover {background:#f80}
.pricing .featured h3 {color:#fff;background:#f80}
.pricing .featured span {font-weight:700;font-size:32px}
.pricing .box span {font-size:32px;font-weight:700}
.pricing .box .advanced {width:200px;position:absolute;top:18px;right:-68px;transform:rotate(45deg);z-index:1;font-size:18px;padding:1px 0 3px 0;background:#f80;color:#fff;font-weight:800}
.pricing img {max-width:25%;height:auto;display:inline-block;margin-left:auto;margin-right:auto;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222)}
.pricing .banner {border:30px solid #f80;margin:auto;padding:30px;width:90%;background:#fff;text-align:center;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222);transition:1.5s ease-in-out;line-height:2;font-weight:600}
.pricing .banner:hover {scale:1.05}
.testimonials {padding:80px 0;background:url(../../assets/img/bg-3.webp) no-repeat;background-position:center center;background-size:cover;position:relative;visibility:auto}
.testimonials::before {content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.7)}
.testimonials .section-header {margin-bottom:40px}
.testimonials .testimonials-carousel,.testimonials .testimonials-slider {overflow:hidden}
.testimonials .testimonial-item {text-align:center;color:#fff}
.testimonials .testimonial-item .testimonial-img {display:inline-block;aspect-ratio:auto 400 / 400;width:auto;max-height:200px;border-radius:50%;border:6px solid rgba(255,255,255,.15);margin:15px;transition:all 1.5s ease-in-out}
.testimonials .testimonial-item .testimonial-img:hover {scale:1.05}
.testimonials .testimonial-item .quote-icon-left,.testimonials .testimonial-item .quote-icon-right {color:rgba(255,255,255,.4);font-size:26px}
.testimonials .testimonial-item .quote-icon-left {display:inline-block;left:-5px;position:relative}
.testimonials .testimonial-item .quote-icon-right {display:inline-block;right:-5px;position:relative;top:10px}
.testimonials .testimonial-item {font-style:italic;line-height:1.8em;margin:0 auto 15px auto;color:#eee}
.testimonials .testimonial-item a {color:#f80;font-weight:700}
.testimonials .testimonial-item a:hover {color:#c3deff}
.testimonials .swiper-pagination {margin-top:20px;position:relative}
.testimonials .swiper-pagination .swiper-pagination-bullet {width:12px;height:12px;background-color:rgba(255,255,255,.5);opacity:1}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {background-color:#1056ad}
@media screen and (min-width:992px) {.testimonials .testimonial-item {width:80%}}
.team {margin-bottom:60px;padding:60px 0;background:#fff;visibility:auto}
.team p {font-size:18px;line-height:1.9em}
.team .member {margin-bottom:20px;overflow:hidden;border-radius:4px;background:#fff;box-shadow:0 2px 15px rgba(16,110,234,.15)}
.team .member .member-img {display:inline-block;position:relative;overflow:hidden}
.team .member .social {position:absolute;left:0;bottom:30px;right:0;opacity:0;transition:all 1.5s ease-in-out;text-align:center}
.team .member .social a {transition:all 1.5s ease-in-out;color:#222;margin:0 3px;padding-top:7px;border-radius:4px;width:36px;height:36px;background:rgba(16,110,234,.8);display:inline-block;color:#fff}
.team .member .social a:hover {background:#3b8af2}
.team .member .social i {font-size:18px}
.team .member .member-info {padding:25px 15px;font-size:18px;font-weight:500}
.team .member .member-info h4 {margin-bottom:1px;font-size:20px;color:#222;font-weight:500}
.team .member .member-info span {display:block;font-size:15px;color:#aaa;font-weight:500}
.team .member:hover .social {opacity:1;bottom:15px}
.team img {max-width:100%;height:auto;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.faq {margin-bottom:60px;padding:60px 0;visibility:auto}
.faq .faq-list {padding:0;list-style:none}
.faq .faq-list li {border-bottom:1px solid #d4e5fc;margin-bottom:20px;padding-bottom:20px}
.faq .faq-list .question {display:block;position:relative;font-size:18px;line-height:24px;padding-left:25px;cursor:pointer;color:#f80;transition:all .5s ease-in-out;font-family:Poppins,sans-serif;font-weight:400}
.faq .faq-list i {font-size:22px;position:absolute;left:0;top:0}
.faq .faq-list p {font-size:18px;color:#006;margin-bottom:0;padding:10px 0 0 25px}
.faq .faq-list p a {font-weight:600}
.faq .faq-list .icon-show {display:none}
.faq .faq-list .collapsed {color:#000}
.faq .faq-list .collapsed:hover {color:#1056ad}
.faq .faq-list .collapsed .icon-show {display:inline-block;transition:all .5s ease-in-out}
.faq .faq-list .collapsed .icon-close {display:none;transition:all .5s ease-in-out}
.faq .faq-list img {display:block;padding:10px;margin:auto;max-width:100%;height:auto;transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222)}
.faq .faq-list img:hover {scale:1.05}
.pedia {border:5px solid #f80;background-color:#fff;margin:30px 10px}
.pedia p {border:0;margin:0 30px;font-size:18px;line-height:2;text-align:center;font-family:Poppins,sans-serif;font-weight:500}
.pedia p span {color:#f80}
.pedia .subtitle {font-size:28px;font-family:Poppins,sans-serif;font-weight:600}
.pedia li {color:#f80;font-size:18px;line-height:1.9em}
.pedia ul {border:0}
.pedia img {max-width:95%;display:inline-block;margin:10px;border:20px solid #f80;padding:10px;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222);-webkit-animation:mover 4s infinite  alternate;animation:mover 4s infinite  alternate;}
@-moz-keyframes mover {0% { transform:translateY(-50px)} 100% { transform:translateY(50px)}}
@-o-keyframes mover {0% { transform:translateY(-50px)} 100% { transform:translateY(50px)}}
@-webkit-keyframes mover {0% { transform:translateY(-50px)} 100% { transform:translateY(50px)}}
@keyframes mover {0% { transform:translateY(-50px)} 100% { transform:translateY(50px)}}
.contact {margin-bottom:60px;visibility:auto}
.contact .info-box {color:#444;text-align:center;box-shadow:0 0 30px rgba(214,215,216,.3);padding:20px 0 30px 0;line-height:24px;font-size:14px;font-family:Poppins,sans-serif}
.contact .info-box i {font-size:32px;color:#1056ad;border-radius:50%;padding:12px;border:2px dotted #b3d1fa;transition:all .5s ease-in-out;margin-bottom:30px;animation-duration:4s}
.contact .info-box i:hover {color:#fff;background:#f80}
.contact .info-box span {line-height:2.2;font-size:18px;color:#222;font-weight:500}
.contact .php-email {margin-left:auto;margin-right:auto}
@media screen and (min-width:992px) {.contact .php-email {width:70%}}
.contact .php-email-form {box-shadow:0 0 30px rgba(214,215,216,.4);padding:30px}
.contact .php-email-form .error-message {display:none;color:#fff;background:#ed3c0d;text-align:left;padding:15px;font-weight:600}
.contact .php-email-form .error-message br+br {margin-top:25px}
.contact .php-email-form .sent-message {display:none;color:#fff;background:#18d26e;text-align:center;padding:15px;font-weight:600}
.contact .php-email-form .loading {display:none;background:#fff;text-align:center;padding:15px}
.contact .php-email-form .loading:before {content:"";display:inline-block;border-radius:50%;width:24px;height:24px;margin:0 10px -6px 0;border:3px solid #18d26e;border-top-color:#eee;-webkit-animation:animate-loading .5s linear infinite;animation:animate-loading .5s linear infinite}
.contact .php-email-form .form-group {margin-bottom:20px}
.contact .php-email-form input,.contact .php-email-form textarea {border-radius:0;box-shadow:none;font-size:16px}
.contact .php-email-form input:focus,.contact .php-email-form textarea:focus {border-color:#1056ad}
.contact .php-email-form input {padding:10px 15px}
.contact .php-email-form textarea {padding:12px 15px}
.contact .php-email-form button[type=submit] {background:#1056ad;border:0;padding:10px 30px;color:#fff;transition:all .5s ease-in-out;border-radius:4px}
.contact .php-email-form button[type=submit]:hover {background:#f80}
@-webkit-keyframes animate-loading {0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@keyframes animate-loading {0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
#footer {background:#fff;padding-bottom:20px;color:#444;font-size:14px;background:#f1f6fe;visibility:auto}
#footer .footer-newsletter {padding:30px 0;background:#f1f6fe}
#footer .footer-top {padding:30px 0;background:#fff}
#footer .footer-top .footer-contact {line-height:1.5;font-family:Poppins,sans-serif;font-weight:400}
#footer .footer-top .footer-contact .fourz4 {color:#f80;font-size:24px}
#footer .footer-top .footer-contact p {margin:0;line-height:2.1;padding-left:10px;padding-top:3px;font-size:14px;color:#444;font-family:Poppins,sans-serif;font-weight:500}
#footer .footer-top .footer-contact span {font-weight:600}
#footer .footer-top .footer-contact i {font-size:18px;padding-left:10px;padding-top:3px}
#footer .footer-top .footer-links p {padding-left:10px;padding-bottom:85px;color:#444;font-size:16px}
#footer .footer-top .footer-links span {color:#222;font-size:18px;padding-bottom:30px;font-weight:600}
#footer .footer-top .footer-links ul {list-style:none;padding:0;margin:0}
#footer .footer-top .footer-links ul i {padding-left:5px;padding-top:3px;color:#1056ad;font-size:18px;line-height:1}
#footer .footer-top .footer-links ul li {padding:10px 0;display:flex;align-items:center}
#footer .footer-top .footer-links ul li:first-child {padding-top:0}
#footer .footer-top .footer-links ul a {color:#444;transition:all .5s ease-in-out;display:inline-block;line-height:1}
#footer .footer-top .footer-links ul a:hover {text-decoration:none;color:#1056ad}
#footer .footer-top .social-links a {padding-left:10px;font-size:18px;display:inline-block;background:#f80;color:#fff;line-height:1;padding:8px 0;margin-right:4px;border-radius:4px;text-align:center;width:36px;height:36px;transition:all .5s ease-in-out}
#footer .footer-top .social-links .facebook {margin-left:10px}
#footer .footer-top .social-links a:hover {background:#1056ad;color:#fff;text-decoration:none}
#footer .copyright {text-align:center;float:right;font-weight:600}
#footer .credits {float:left;text-align:center;font-size:13px;color:#444}
#footer .credits a {font-weight:700}
@media screen and (max-width:768px) {#footer .copyright,#footer .credits {float:none;text-align:center;padding:2px 0}}
.border-line {width:40px;height:1px;margin-top:20px;display:block;text-align:center;background-color:#03a9f4;margin-left:auto;margin-right:auto}
.border-line2 {width:200px;height:2px;margin-top:20px;display:block;text-align:center;background-color:#03a9f4;margin-left:auto;margin-right:auto}
.inner-page {padding:20px;margin:10px;background:#f1f6fe;box-shadow:0 2px 15px rgba(0,0,0,.1);line-height:1.7;font-size:17px}
.inner-page img {border:30px solid #f80;display:block;margin:auto;max-width:100%;height:auto;transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.inner-page img:hover {scale:1.05}
.inner-page span {color:#f80}
.inner-page ul li {padding-bottom:5px}
.callout {position:fixed;max-width:270px;bottom:10px;z-index:2;visibility:hidden;opacity:0;left:10px;font-family:Poppins,sans-serif}
.callout.active {visibility:visible;opacity:1}
.callout-header {padding:25px 15px;background-color:#f80;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);font-size:30px;font-weight:500;color:#fff}
.callout-container {padding:15px;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);background-color:#f1f6fe;color:#006;font-weight:400}
.closebtn {position:absolute;top:-5px;right:10px;color:#fff;font-size:30px;cursor:pointer}
.closebtn:hover {color:#006}
.quote {text-align:center;color:#b85a00;font-style:italic;font-size:1.6em;line-height:1.4em;margin:0 30px;font-family:Poppins,sans-serif;font-weight:400}
.quote2 {color:#b85a00;font-style:italic;font-size:20px;font-family:Poppins,sans-serif;font-weight:400}
table,td,th {border:1px solid #000;border-collapse:collapse;max-width:96%;margin-left:auto;margin-right:auto;box-shadow:0px 2px 15px rgba(0, 0, 0, 0.5)}
th {text-align:center;color:#006;line-height:1;font-size:15px;font-weight:600}
td {font-size:17px}
.pager {padding-left:0;margin:20px 0;text-align:center;list-style:none;font-weight:700}
.pager i {font-weight:800}
.pager li {display:inline}
.pager li>a,.pager li>span {display:inline-block;padding:5px 14px;background-color:#fff;border:3px solid #f80;border-radius:15px}
.pager li>a:focus,.pager li>a:hover {text-decoration:#fff;background-color:#006}
.pager .next>a,.pager .next>span {float:right;position:absolute;right:40px;box-shadow:4px 3px 3px 3px #888;font-weight:700}
.pager .previous>a,.pager .previous>span {float:left;position:absolute;left:40px;box-shadow:-4px 3px 3px 3px #888;font-weight:700}
.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span {color:#777;cursor:not-allowed;background-color:#fff}
.wrap-collabsible{margin:0}
input[type='checkbox'] {display:none;scroll-behavior:smooth}
.lbl-toggle {display:block;position:relative;font-size:1rem;text-align:center;padding:.3rem;color:#fff;background:#1056ad;cursor:pointer;transition:all .5s ease-in-out;font-weight:700;text-transform:uppercase}
.lbl-toggle:hover {color:#fff;background:#f80}
.lbl-toggle::before {content:' ';display:inline-block;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid currentColor;vertical-align:middle;margin-right:.7rem;transform:translateY(-2px);transition:transform .5s ease-in-out}
.toggle:checked+.lbl-toggle::before {transform:rotate(90deg) translateX(-1px)}
.collapsible-content {max-height:0;overflow:hidden;transition:max-height .5s ease-in-out}
.toggle:checked+.lbl-toggle+.collapsible-content {max-height:100vh}
.toggle:checked+.lbl-toggle {border-bottom-right-radius:0;border-bottom-left-radius:0}
.collapsible-content .content-inner {background:#fff;padding:.1rem 1rem;text-align:center;font-size:200%}
.collapsible-content .content-inner .whatsapp {color:#25D366}
.collapsible-content .content-inner .linkedin {color:#0072b1}
.collapsible-content .content-inner .facebook {color:#4267B2}
.collapsible-content .content-inner .twitter {color:#00acee}
.content-inner i:hover{color:#f80!important}
.linktext {text-align:center;font-style:italic;margin-top:25px;font-size:20px;color:#006;font-family:Poppins,sans-serif;font-weight:400}
.linktext:hover {color:#f80}
.ornament {display:block;margin-left:auto;margin-right:auto;width:100%;height:100%;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.circle1 {content:"\2460";font-size:18px;font-family:'Open Sans',sans-serif;font-weight:700}
.circle2 {content:"\2461";font-size:18px;font-family:'Open Sans',sans-serif;font-weight:700}
.circle3 {content:"\2462";font-size:18px;font-family:'Open Sans',sans-serif;font-weight:700}
.circle4 {content:"\2463";font-size:18px;font-family:'Open Sans',sans-serif;font-weight:700}