@font-face{font-family:al-jazeera-arabic-bold;src:url(../../assets/css/fonts/al-jazeera-arabic-bold.woff) format('woff'),url(../../assets/css/fonts/al-jazeera-arabic-bold.woff2) format('woff2');font-style:normal;font-display:swap}
@font-face{font-family:al-jazeera-arabic_regular;src:url(../../assets/css/fonts/al-jazeera-arabic_regular.woff) format('woff'),url(../../assets/css/fonts/al-jazeera-arabic_regular.woff2) format('woff2');font-style:normal;font-display:swap}


@font-face{font-family:Poppins;src:url(../../assets/css/fonts/Poppins-Regular.woff) format('woff'),url(../../assets/css/fonts/Poppins-Regular.woff2) format('woff2');font-weight:400;font-style:normal;font-display:swap}

@font-face{font-family:Poppins;src:url(../../assets/css/fonts/Poppins-SemiBold.woff) format('woff'),url(../../assets/css/fonts/Poppins-SemiBold.woff2) format('woff2');font-weight:600;font-style:normal;font-display:swap}
:root{--animate-duration:1s;--animate-delay:1s;--animate-repeat:1}.animate__animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-duration:var(--animate-duration);animation-duration:var(--animate-duration);-webkit-animation-fill-mode:both;animation-fill-mode:both}@media (prefers-reduced-motion:reduce),print{.animate__animated{-webkit-animation-duration:1ms!important;animation-duration:1ms!important;-webkit-animation-iteration-count:1!important;animation-iteration-count:1!important}}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}.animate__fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}.animate__fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}[data-aos^=fade][data-aos^=fade]{opacity:0}[data-aos=fade-up]{transform:translate3d(0,100px,0)}[data-aos=fade-right]{transform:translate3d(-100px,0,0)}*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}
body {font-family:al-jazeera-arabic_regular,sans-serif;color:#000061}
a {color:#1056ad;transition:all .5s ease-in-out;text-decoration:none}
a:hover{color:#f80;text-decoration:none}
h1,h2,h3,h4,h5 {font-family:al-jazeera-arabic-bold,sans-serif}
#preloader:before {content:"";position:fixed;top:calc(50% - 30px);left:calc(50% - 30px);border:6px solid #000061;border-top-color:#e2eefd;border-radius:50%;width:60px;height:60px;-webkit-animation:animate-preloader 1s linear infinite;-moz-animation:animate-preloader 1s linear infinite;animation:animate-preloader 1s linear infinite}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;overflow:hidden;background:#fff}
@keyframes animate-preloader{0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@-webkit-keyframes animate-preloader{0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
.back-to-top {position:fixed;visibility:hidden;opacity:0;left:15px;bottom:15px;z-index:996;background:#000061;width:40px;height:40px;border-radius:50px;transition:all .4s ease-in-out}
.back-to-top i {font-size:28px;color:#fff;line-height:0}
.back-to-top:hover {background:#3284f1;color:#fff;box-shadow:0 0 15px #f80}
.back-to-top.active {visibility:visible;opacity:1}
@media screen and (max-width:768px){[data-aos-delay] {transition-delay:0s!important}}
#topbar {background:#f80;transition:all 1.5s ease-in-out;height:35px;padding:0}
#topbar .contact-info .chat {color:#000061;font-size:clamp(1rem,1.4vw,3rem);padding:0 0 0 30px;font-family:al-jazeera-arabic-bold,sans-serif;line-height:1.2}
#topbar .contact-info .chat:hover {color:#0000c9;text-decoration:underline}
#topbar .contact-info i {font-size:clamp(1.5rem,2vw,4rem);color:#000061;animation-duration:8s}
#topbar .social-links a {color:#000061;font-size:150%;line-height:0;margin-right:20px}
#topbar .social-links a:hover {color:#0000c9}
#header {transition:all 1.5s ease-in-out;background:#fff;height:86px;box-shadow:0 2px 15px rgba(0,0,0,0.1)}
#header.fixed-top {box-shadow:1px 1px 7px 2px #888}
.logo {cursor: pointer;position: relative;padding:5px 20px;background:#fff;font-size:28px;border-top-right-radius:10px;border-bottom-left-radius:10px;transition:all 1s}
.logo:after,.logo:before {content: " ";width:10px;height:10px;position:absolute;border:0 solid #fff;transition:all 1s}
.logo:after {top:0;left:0;border-top:3px solid #000061;border-left:3px solid #000061}
.logo:before {bottom:0;right:0;border-bottom:3px solid #f80;border-right:3px solid #f80}
.logo:hover {border-top-right-radius:0;border-bottom-left-radius:0}
.logo:hover:after,.logo:hover:before {width:100%;height:100%}
.logo img {display:inline-block;aspect-ratio:auto 600 / 164;width:auto;max-height:59px}
.scrolled-offset {margin-top:70px}
.navbar {padding:0;float:left;font-family:al-jazeera-arabic-bold,Poppins,sans-serif;font-weight:600}
.navbar ul {margin:0;padding:0;display:flex;list-style:none;align-items:center}
.navbar li {position:relative}
.navbar>ul>li {padding:10px 15px}
.navbar a,.navbar a:focus {display:flex;align-items:center;justify-content:space-between;padding:0 3px;font-size:16px;color:#222;white-space:nowrap;transition:all .5s ease-in-out;position:relative}
.navbar a i,.navbar a:focus i {font-size:16px;line-height:0;margin-right:5px}
.navbar>ul>li>a:before {content:"";position:absolute;height:2px;bottom:-6px;left:0;background-color:#f80;visibility:hidden;width:0;transition:all .3s ease-in-out}
.navbar a:hover:before,.navbar li:hover>a:before,.navbar .active:before {visibility:visible;width:100%}
.navbar a:hover,.navbar .active,.navbar .active:focus,.navbar li:hover>a {color:#1056ad}
.navbar .dropdown ul {display:block;position:absolute;left:28px;top:calc(100% + 30px);margin:0;padding:10px 0;z-index:99;opacity:0;visibility:hidden;background:#fff;box-shadow:0 0 30px rgba(127,137,161,.25);transition:all .3s ease-in-out}
.navbar .dropdown ul li {min-width:200px}
.navbar .dropdown ul a {padding:10px 20px;font-family:al-jazeera-arabic_regular,sans-serif}
.navbar .dropdown ul a i {font-size:16px}
.navbar .dropdown ul a:hover,.navbar .dropdown ul .active:hover,.navbar .dropdown ul li:hover>a {color:#000061;background:#f80}
.navbar .dropdown:hover>ul {opacity:1;top:100%;visibility:visible}
.navbar .dropdown .dropdown ul {top:0;left:calc(100% - 30px);visibility:hidden}
.navbar .dropdown .dropdown:hover>ul {opacity:1;top:0;left:100%;visibility:visible}
@media screen and (max-width:1366px){.navbar .dropdown .dropdown ul {left:-90%}.navbar .dropdown .dropdown:hover>ul {left:-100%}}
.mobile-nav-toggle {color:#222;font-size:28px;cursor:pointer;display:none;line-height:0;transition:all .5s ease-in-out}
.mobile-nav-toggle.bx-x {color:#fff}
@media screen and (max-width:991px){.mobile-nav-toggle {display:block;padding-top:0}.navbar ul {display:none}}
.navbar-mobile {position:fixed;overflow:hidden;top:0;right:0;left:0;bottom:0;background:rgba(26,26,26,.9);transition:all .3s ease-in-out;z-index:999}
.navbar-mobile .mobile-nav-toggle {position:absolute;top:35px;left:15px}
.navbar-mobile ul {display:block;position:absolute;top:55px;right:15px;bottom:15px;left:15px;padding:10px 0;background-color:#fff;overflow-y:auto;transition:all .3s ease-in-out}
.navbar-mobile a,.navbar-mobile a:focus {padding:10px 20px;font-size:17px;color:#222}
.navbar-mobile>ul>li {padding:2px}
.navbar-mobile a:hover:before,.navbar-mobile li:hover>a:before,.navbar-mobile .active:before {visibility:hidden}
.navbar-mobile a:hover,.navbar-mobile .active,.navbar-mobile li:hover>a {color:#000061;background:#f80}
.navbar-mobile .getstarted,.navbar-mobile .getstarted:focus {margin:15px}
.navbar-mobile .dropdown ul {position:static;display:none;margin:10px 20px;padding:10px 0;z-index:99;opacity:1;visibility:visible;background:#fff;box-shadow:0 0 30px rgba(127,137,161,0.25)}
.navbar-mobile .dropdown ul li {min-width:200px}
.navbar-mobile .dropdown ul a {padding:10px 20px}
.navbar-mobile .dropdown ul a i {font-size:17px}
.navbar-mobile .dropdown ul a:hover,.navbar-mobile .dropdown ul .active:hover,.navbar-mobile .dropdown ul li:hover>a {color:#fff;background:#1056ad}
.navbar-mobile .dropdown>.dropdown-active {display:inline-block}
#intro {width:100%;height:89vh;overflow:hidden;position:relative;background:#000;font-family:al-jazeera-arabic-bold,sans-serif}
#intro .carousel-item::before {content:"";background-image:linear-gradient(to top left,rgba(241,246,254,.556),rgba(255,255,255,.95))}
@media screen and (max-height:579px){#intro {height:78vh}}
@media screen and (min-height:580px){#intro {height:89vh}}
#intro .carousel,#intro .carousel-inner,#intro .carousel-item,#intro .carousel-item::before {position:absolute;bottom:0;top:0;left:0;right:0}
#intro .carousel-item {background-size:cover;background-position:top;background-repeat:no-repeat}
#intro .carousel-container {display:flex;justify-content:center;align-items:center;position:absolute;bottom:0;top:0;left:30px;right:30px}
#intro .container {text-align:center}
#intro .carousel-item .carousel-container .container p {font-size:clamp(3rem,8vw,5.1rem);line-height:1.4}
#intro .carousel-item .carousel-container .container p span {font-size:clamp(1.5rem,4vw,3rem)}
#intro .carousel-control-next, #intro .carousel-control-prev {width:12%;color:#000}
#intro .carousel-control-next:hover,#intro .carousel-control-prev:hover {color:#f80}
@media screen and (min-width:1025px){#intro .carousel-control-next, #intro .carousel-control-prev {width:5%}}
@media screen and (max-width:1024px){#intro .carousel-control-next, #intro .carousel-control-prev {width:52px}}
#intro .carousel-control-next-icon,#intro .carousel-control-prev-icon {background:0 0;font-size:32px}
#intro .carousel-indicators li {background-color:#1056ad;width:10px;height:10px;margin:5px;cursor:pointer;list-style:none}
#intro .carousel-indicators li:hover {background-color:#f80}
@media screen and (max-width:992px){#intro .carousel-indicators li {display:none}}
#intro .btn-get-started {font-size:clamp(1rem,1.5vw,3rem);display:inline-block;padding:6px 22px;border-radius:50px;transition:.5s ease-in-out;color:#fff;background:#1056ad}
#intro .btn-get-started:hover {background:#000061;color:#fff}
section {padding:60px 0;overflow:hidden}
.section-bg {background-color:#f6f9fe}
.section-title {text-align:center;margin:0 40px;font-family:al-jazeera-arabic-bold,sans-serif}
.section-title .title {font-size:18px;padding:8px 20px;margin-bottom:40px;background:#e7f1fd;color:#1056ad;display:inline-block;border-radius:50px}
.section-title .subtitle {font-size:28px;line-height:1.6}
.section-title .subtitle span {color:#db7500}
.section-title p {margin:40px auto;font-size:18px;line-height:1.7}
.section-title p span {color:#1056ad}
.section-title .golden4 {display:block;border:10px solid #f80;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);margin:auto;max-width:480px;height:auto;transition:all 1.5s ease-in-out}
.section-title .golden4:hover {scale:1.05 .95}
@media screen and (max-width:900px){.section-title .golden4 {width:94%;height:auto}}
.section-title img {border:10px solid #f80;display:block;margin:auto;transition:all 1.5s ease-in-out;box-shadow:0 2px 15px rgba(0,0,0,0.1)}
.section-title img:hover{scale:1.05}
.section-title h4 {font-size:18px;line-height:1.6;font-family:al-jazeera-arabic_regular,sans-serif}
.section-title h4 a {font-family:al-jazeera-arabic-bold,sans-serif}
@media screen and (min-width:1024px){.section-title p {width:50%}}
.row span {color:#1056ad}
.breadcrumbs {padding:120px 0;background-color:#f1f6fe;min-height:40px}
.breadcrumbs h1 {font-size:32px;margin:0;text-align:center;color:#f80}
#our-name {visibility:auto}
#our-name .because {text-align:center;margin-top:15px;margin-bottom:45px;font-size:32px;color:#f80;font-family:al-jazeera-arabic-bold,sans-serif}
#our-name .because span {font-size:20px;color:#000061}
#our-name .icon-box {padding:30px;position:relative;overflow:hidden;background:#fff;box-shadow:0 0 29px 0 rgba(68,88,144,.12);transition:all .5s ease-in-out;border-radius:8px;z-index:1}
#our-name .icon-box::before {content:"";position:absolute;background:#cbe0fb;right:0;left:0;bottom:0;top:100%;transition:all .5s ease-in-out;z-index:-1}
#our-name .icon-box:hover::before {background:#f80;top:0;border-radius:0}
#our-name .icon {margin-bottom:15px}
#our-name .icon i {font-size:48px;color:#1056ad;transition:all .5s ease-in-out;animation-duration:4s}
#our-name .icon-box .description1 {margin-bottom:15px;font-size:22px;font-family:al-jazeera-arabic-bold,sans-serif}
#our-name .icon-box .description1 span {font-family:al-jazeera-arabic-bold,sans-serif}
#our-name .icon-box .description2 {font-size:18px;line-height:1.6;margin-top:25px;margin-bottom:0}
#our-name .icon-box .description2 span {font-weight:600;font-family:al-jazeera-arabic-bold,sans-serif}
#our-name .icon-box:hover .description1, #our-name .icon-box:hover .description2, #our-name .icon-box:hover .icon i {color:#fff}
.about {visibility:auto}
.about .fourz1 {color:#db7500;font-size:36px;text-align:center;padding:30px;line-height:1.6;font-family:al-jazeera-arabic-bold,sans-serif}
.about .fourz1 span {color:#1056ad}
.about .fourz2 {padding:0 40px;color:#1056ad;font-size:32px;text-align:center;line-height:1.5;font-family:al-jazeera-arabic-bold,sans-serif}
.about .fourz2 span {color:#000061}
.about .content ul {list-style:none;padding:0}
.about .content ul li {display:flex;align-items:flex-start;margin-bottom:35px}
.about .content ul li:first-child {margin-top:35px}
.about .content ul i {background:#fff;box-shadow:0 6px 15px rgba(16,110,234,.12);font-size:24px;padding:20px;margin-top:10px;margin-left:15px;color:#1056ad;border-radius:50px;transition:all 1.5s ease-in-out;animation-duration:4s}
.about .content ul i:hover {color:#fff;background:#946c00}
.about .content ul p {font-size:18px}
.about .content p:last-child {margin-bottom:0}
.about .golden1 {color:#946c00;font-style:italic;text-align:center;font-size:32px;font-family:al-jazeera-arabic-bold,sans-serif}
.about .golden2 {color:#946c00;font-style:italic;text-align:center;font-size:19px;line-height:1.7;font-family:al-jazeera-arabic-bold,sans-serif}
.about .golden2 span {color:#000061}
.about .golden3 {display:block;border:10px solid #946c00;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);margin:auto;width:100%;height:auto;transition:all 1.5s ease-in-out;padding:5px;-webkit-animation:mover 4s infinite  alternate;-moz-animation:mover 4s infinite  alternate;animation:mover 4s infinite  alternate}
.about .golden4 {display:block;border:10px solid #f80;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);margin:auto;max-width:480px;height:auto;transition:all 1.5s ease-in-out}
.about .golden4:hover {scale:1.05 .95}
@media screen and (max-width:900px){.about .golden4 {width:94%;height:auto}}
.about .golden {display:block;padding-bottom:7px;color:#946c00;font-size:20px;font-family:al-jazeera-arabic-bold,sans-serif}
.about li {color:#f80;padding-bottom:10px}
.about .trust {color:#000061;font-size:18px;line-height:1.6;font-family:al-jazeera-arabic_regular,sans-serif}
.about .vision {display:flex;font-size:18px;text-align:right}
.about .vision p {color:#db7500;font-size:32px;font-family:al-jazeera-arabic-bold,sans-serif}
#skills {background:#fff}
.skills .progress {height:60px;display:block;background:0 0;border-radius:0;visibility:auto}
.skills .progress .skill {padding:0;margin:0 0 6px 0;display:block;font-size:17px;color:#000061;font-family:al-jazeera-arabic-bold,sans-serif}
.skills .progress .skill .val {float:left;font-style:normal}
.skills .progress-bar-wrap {background:#e2eefd;height:10px}
.skills .progress-bar {width:1px;height:10px;transition:all 1.5s ease-in;background-color:#f80}
.counts {background:#fff;padding:70px 0 60px;visibility:auto}
.counts .count-box {padding:30px 30px 25px 30px;width:100%;position:relative;text-align:center;background:#f1f6fe;-webkit-filter:drop-shadow(0 2px 2px #222);filter:drop-shadow(0 2px 2px #222)}
.counts .count-box i {position:absolute;top:-28px;left:50%;transform:translateX(-50%);font-size:24px;background:#1056ad;color:#fff;width:56px;height:56px;line-height:0;border-radius:50px;border:5px solid #fff;display:inline-flex;align-items:center;justify-content:center;transition:all .5s ease-in-out;animation-duration:4s}
.counts .count-box i:hover {background:#f80}
.counts .count-box span {font-size:32px;display:block;font-weight:600;color:#062b5b}
.counts .count-box p {padding:0;margin-top:10px;font-size:16px;font-family:al-jazeera-arabic-bold,sans-serif}
#services {background:#f6f9fe}
.services .icon-box {text-align:center;border-radius:8px;padding:80px 20px;transition:all .5s ease-in-out;box-shadow:0 0 29px 0 rgba(68,88,144,.12);overflow:hidden;position:relative;z-index:1;background:#fff}
.services .icon-box::before {content:"";position:absolute;background:#cbe0fb;right:0;left:0;bottom:100%;top:0;transition:all .5s ease-in-out;z-index:-1}
.services .icon-box:hover::before {background:#f80;bottom:0;border-radius:0}
.services .icon-box h2 {margin-bottom:20px;font-size:24px;line-height:1.6;font-family:al-jazeera-arabic-bold,sans-serif}
.services .icon-box h2 a {color:#222;transition:all .5s ease-in-out}
.services .icon-box p {line-height:1.6;font-size:18px;margin-bottom:0;text-align:right}
.services .icon-box:hover p {color:#fff}
.services .icon-box:hover h2 {color:#fff}
.services .icon-box img {padding-bottom:40px;margin-left:auto;margin-right:auto;display:block;max-width:80px;-webkit-filter:drop-shadow(0 2px 2px #222);filter:drop-shadow(0 2px 2px #222);transition:1.5s ease-in-out}
.services .icon-box img:hover {scale:1.3}
.services h3 {text-align:center;line-height:1.6;padding:20px;font-family:al-jazeera-arabic_regular,sans-serif}
.services h3 span {color:#ad5c00}
.services .golden4 {display:block;border:10px solid #f80;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);margin:auto;max-width:480px;height:auto;transition:all 1.5s ease-in-out}
.services .golden4:hover {scale:1.05 .95}
@media screen and (max-width:900px){.services .golden4 {width:94%;height:auto}}
.portfolio {visibility:auto}
.portfolio #portfolio-flters {margin:0 auto 15px auto;list-style:none;text-align:center;border-radius:50px}
.portfolio #portfolio-flters li {cursor:pointer;display:inline-block;padding:10px 15px 8px 15px;font-size:18px;color:#444;margin-bottom:5px;transition:all .5s ease-in-out;font-family:al-jazeera-arabic-bold,sans-serif}
.portfolio #portfolio-flters li.filter-active,.portfolio #portfolio-flters li:hover {color:#1056ad}
.portfolio #portfolio-flters li:last-child {margin-right:0}
.portfolio .portfolio-item {margin-bottom:40px}
.portfolio .portfolio-item .portfolio-info {opacity:0;position:absolute;left:30px;right:30px;bottom:0;z-index:3;transition:all .5s ease-in-out;background:rgba(255,255,255,.9);padding:15px;font-size:16px;font-family:al-jazeera-arabic-bold,sans-serif;line-height:1.4}
.portfolio .portfolio-item .portfolio-info p {color:#555;font-size:16px;margin-top:10px;margin-bottom:0;font-family:al-jazeera-arabic-bold,sans-serif}
.portfolio .portfolio-item .portfolio-info i {font-size:24px}
.portfolio .portfolio-item .portfolio-info .details-link {position:absolute;margin-left:10px;font-size:20px;bottom:7px;color:#3c3c3c}
.portfolio .portfolio-item .portfolio-info .details-link i {animation-duration:4s;transition:all .5s ease-in-out}
.portfolio .portfolio-item .portfolio-info .details-link:hover {color:#1056ad}
.portfolio .portfolio-item .portfolio-info .details-link {left:10px}
.portfolio .portfolio-item .portfolio-links {opacity:0;left:0;right:0;text-align:center;z-index:3;position:absolute;transition:all .5s ease-in-out}
.portfolio .portfolio-item .portfolio-links a {color:#fff;margin:0 2px;font-size:28px;display:inline-block;transition:all .5s ease-in-out}
.portfolio .portfolio-item .portfolio-links a:hover {color:#6ba7f5}
.portfolio .portfolio-item:hover .portfolio-info {opacity:1;bottom:20px}
.portfolio .portfolio-item img {transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.portfolio-details {line-height:1.6;padding-top:40px}
.portfolio-details .portfolio-details-slider img {display:inline-block;max-width:100%;transition:all .5s ease-in-out;height:auto}
.portfolio-details img:hover {scale:1.05}
.portfolio-details .portfolio-details-slider .swiper-pagination {margin-top:20px;position:relative}
.portfolio-details .portfolio-details-slider {position:relative;box-shadow:5px 0 30px rgb(34,34,34,.2)}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {width:12px;height:12px;background-color:#fff;margin:5px;opacity:1;border:1px solid #1056ad}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {background-color:#1056ad}
.portfolio-details .portfolio-info {padding:30px;box-shadow:5px 0 30px rgba(34,34,34,.2)}
.portfolio-details .portfolio-info h3 {font-size:22px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;font-family:al-jazeera-arabic-bold,sans-serif}
.portfolio-details .portfolio-info ul {list-style:none;padding:0;font-size:18px}
.portfolio-details .portfolio-info ul li+li {margin-top:10px}
.portfolio-details .portfolio-description {padding:30px 30px 60px;font-size:20px;line-height:1.6}
.portfolio-details .portfolio-description ol li+li {margin-top:10px}
.portfolio-details .portfolio-description ul li+li {margin-top:10px}
.portfolio-details .portfolio-description h2 {font-size:24px;margin-bottom:20px;line-height:1.6}
.portfolio-details .portfolio-description h3 {font-size:18px;margin-bottom:20px}
.portfolio-details .portfolio-description h4 {font-size:22px;margin-bottom:20px;line-height:1.6;font-family:al-jazeera-arabic-bold,sans-serif}
.portfolio-details .portfolio-description p {padding:0}
.portfolio-details .portfolio-description .red {color:#b30}
.portfolio-details .portfolio-description .blue {color:#00f}
.portfolio-details .portfolio-description .black {color:#000;font-family:al-jazeera-arabic-bold,sans-serif}
.portfolio-details .portfolio-description img {border:10px solid #f80;display:block;max-width:100%;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.portfolio-details .portfolio-description i {color:#b30}

.pricing {background:#f1f6fe;margin-bottom:60px;visibility:auto}
.pricing .box {padding:20px;margin-top:50px;background:#fff;text-align:center;box-shadow:0 0 4px rgba(0,0,0,.12);border-radius:5px;position:relative;overflow:hidden}
.pricing .box .price {margin:-20px -20px 20px -20px;padding:20px 15px;font-size:17px;color:#545454;background:#f8f8f8;font-family:al-jazeera-arabic-bold,sans-serif}
.pricing .box .offer {color:#525252;font-size:16px}
.pricing .featured .price {color:#000061;background:#f80}
.pricing .box ul {padding:0;list-style:none;color:#444;text-align:center;line-height:1.6}
.pricing .box ul li {padding-bottom:16px}
.pricing .btn-buy {background:#1056ad;display:inline-block;padding:6px 35px 8px 35px;margin-bottom:20px;border-radius:4px;color:#fff;font-size:17px;transition:all .5s ease-out;font-family:al-jazeera-arabic-bold,sans-serif}
.pricing .btn-buy:hover {background:#f80}
.pricing .featured h3 {color:#fff;background:#f80}
.pricing .featured span {font-size:32px;font-family:al-jazeera-arabic-bold,sans-serif}
.pricing .box span {font-size:32px;font-family:al-jazeera-arabic-bold,sans-serif}
.pricing .box .advanced {width:200px;position:absolute;top:18px;left:-68px;transform:rotate(-45deg);z-index:1;font-size:13px;padding:1px 0 3px 0;background:#f80;color:#000061}
.pricing img {max-width:25%;height:auto;display:inline-block;margin-left:auto;margin-right:auto;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222)}
.pricing .banner {border:10px solid #000061;padding:15px;margin:40px auto;width:600px;background:#fff;text-align:center;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222);transition:1.5s ease-in-out;line-height:1.6;font-family:al-jazeera-arabic-bold,sans-serif}
@media screen and (max-width:900px){.pricing .banner {width:94%;height:auto}}
.pricing .banner:hover {scale:1.05}
.testimonials {padding:40px 0;background:url(../../assets/img/bg-3.webp) no-repeat;background-position:center center;background-size:cover;position:relative;visibility:auto}
.testimonials::before {content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.7)}
.testimonials .section-header {margin-bottom:40px}
.testimonials .testimonials-carousel,.testimonials .testimonials-slider {overflow:hidden}
.testimonials .testimonial-item {text-align:center;color:#fff}
.testimonials .testimonial-item .testimonial-img {display:inline-block;aspect-ratio:auto 400/400;width:auto;max-height:200px;border-radius:50%;border:6px solid rgba(255,255,255,.15);margin:15px;transition:all 1.5s ease-in-out}
.testimonials .testimonial-item .testimonial-img:hover {scale:1.05}
.testimonials .testimonial-item .quote-icon-left,.testimonials .testimonial-item .quote-icon-right {color:rgba(255,255,255,.4);font-size:26px}
.testimonials .testimonial-item .quote-icon-left {display:inline-block;left:-5px;position:relative}
.testimonials .testimonial-item .quote-icon-right {display:inline-block;right:-5px;position:relative;top:10px}
.testimonials .testimonial-item {line-height:1.6;margin:0 auto 15px auto;color:#eee;font-family:al-jazeera-arabic-bold,sans-serif}
.testimonials .testimonial-item p {font-style:italic}
.testimonials .testimonial-item a {color:#f80}
.testimonials .testimonial-item a:hover {color:#c3deff}
.testimonials .swiper-pagination {position:relative}
.testimonials .swiper-pagination .swiper-pagination-bullet {margin:5px;margin-top:20px;width:12px;height:12px;background-color:rgba(255,255,255,.5);opacity:1}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {background-color:#f80}
@media screen and (min-width:992px){.testimonials .testimonial-item {width:80%}}
.team {margin-bottom:60px;background:#fff;visibility:auto}
.team p {font-size:18px;line-height:1.6}
.team .section-title img {border:2px solid #f80;display:block;aspect-ratio:auto 600/600;width:auto;max-height:300px;margin:auto;margin-top:30px;margin-bottom:30px; transition:all 1.5s ease-in-out;box-shadow:0 2px 15px rgba(0,0,0,0.1)}
.team .member {margin-bottom:20px;overflow:hidden;border-radius:4px;background:#fff;box-shadow:0 2px 15px rgba(16,110,234,.15)}
.team .member .member-img {display:inline-block;position:relative;overflow:hidden}
.team .member .social {position:absolute;left:0;bottom:30px;right:0;opacity:0;transition:all 1.5s ease-in-out;text-align:center}
.team .member .social a {transition:all 1.5s ease-in-out;color:#222;margin:0 3px;padding-top:7px;border-radius:4px;width:36px;height:36px;background:rgba(16,110,234,.8);display:inline-block;color:#fff}
.team .member .social a:hover {background:#3b8af2}
.team .member .social i {font-size:18px}
.team .member .member-info {padding:25px 15px;font-size:20px;font-family:al-jazeera-arabic-bold,sans-serif}
.team .member .member-info h4 {margin-bottom:5px;font-size:20px;color:#222}
.team .member .member-info span {display:block;font-size:15px;color:#595959}
.team .member:hover .social {opacity:1;bottom:15px}
.team img {max-width:100%;height:auto;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.faq {padding:60px 0 0;visibility:auto}
.faq .faq-list {padding:0;list-style:none}
.faq .faq-list li {border-bottom:1px solid #d4e5fc;margin-bottom:20px;padding-bottom:20px}
.faq .faq-list .question {display:block;position:relative;font-size:19px;line-height:1.6;padding-right:25px;cursor:pointer;color:#f80;transition:all .5s ease-in-out}
.faq .faq-list i {font-size:22px;position:absolute;right:0;top:2px}
.faq .faq-list p {font-size:18px;color:#000061;margin-bottom:0;padding:10px 25px 0 25px;line-height:1.6;font-family:al-jazeera-arabic_regular,sans-serif}
.faq .faq-list p a {font-family:al-jazeera-arabic-bold,sans-serif}
.faq .faq-list .icon-show {display:none}
.faq .faq-list .collapsed {color:#000}
.faq .faq-list .collapsed:hover {color:#1056ad}
.faq .faq-list .collapsed .icon-show {display:inline-block;transition:all .5s ease-in-out}
.faq .faq-list .collapsed .icon-close {display:none;transition:all .5s ease-in-out}
.faq .faq-list img {display:block;padding:10px;margin:auto;max-width:100%;height:auto;transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222)}
.faq .faq-list img:hover {scale:1.05}
.pedia {border:5px solid #f80;background-color:#000061;color:#fff;margin:30px 0}
.pedia a {color:#fff;text-decoration:underline}
.pedia a:hover {color:#f80}
.pedia p {border:0;margin:40px 20px;font-size:18px;line-height:1.6;text-align:center;font-family:al-jazeera-arabic-bold,sans-serif}
.pedia p span {color:#f80}
.pedia .subtitle {font-size:28px;font-family:al-jazeera-arabic-bold,sans-serif}
.pedia li {color:#f80;font-size:18px;line-height:2;margin-bottom:20px;margin-left:20px}
.pedia ul {border:0}
.pedia img {max-width:94%;display:inline-block;margin:auto;border:10px solid #f80;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 1px 3px #222);-webkit-animation:mover 4s infinite  alternate;-moz-animation:mover 4s infinite  alternate;animation:mover 4s infinite  alternate}
@-moz-keyframes mover{0% { transform:translateY(-30px)} 100% { transform:translateY(30px)}}
@-o-keyframes mover{0% { transform:translateY(-30px)} 100% { transform:translateY(30px)}}
@-webkit-keyframes mover{0% { transform:translateY(-30px)} 100% { transform:translateY(30px)}}
@keyframes mover{0% { transform:translateY(-30px)} 100% { transform:translateY(30px)}}
.contact {visibility:auto;padding-bottom:0}
.contact .info-box {color:#444;text-align:center;box-shadow:0 0 30px rgba(214,215,216,.3);padding:20px 0 30px 0;line-height:1.6;font-size:14px;font-family:Poppins,sans-serif}
.contact .info-box i {font-size:32px;color:#1056ad;border-radius:50%;padding:12px;border:2px dotted #b3d1fa;transition:all .5s ease-in-out;margin-bottom:30px;animation-duration:4s}
.contact .info-box i:hover {color:#fff;background:#f80}
.contact .info-box span {line-height:1.6;font-size:18px;color:#222;font-family:al-jazeera-arabic-bold,sans-serif}
.contact .php-email {margin-left:auto;margin-right:auto}
@media screen and (min-width:992px){.contact .php-email {width:70%}}
.contact .php-email-form {box-shadow:0 0 30px rgba(214,215,216,.4);padding:30px}
.contact .php-email-form .error-message {display:none;color:#fff;background:#ed3c0d;text-align:left;padding:15px}
.contact .php-email-form .error-message br+br {margin-top:25px}
.contact .php-email-form .sent-message {display:none;color:#fff;background:#18d26e;text-align:center;padding:15px}
.contact .php-email-form .loading {display:none;background:#fff;text-align:center;padding:15px}
.contact .php-email-form .loading:before {content:"";display:inline-block;border-radius:50%;width:24px;height:24px;margin:0 10px -6px 0;border:3px solid #18d26e;border-top-color:#eee;-webkit-animation:animate-loading .5s linear infinite;-moz-animation:animate-loading .5s linear infinite;animation:animate-loading .5s linear infinite}
.contact .php-email-form .form-group {margin-bottom:20px}
.contact .php-email-form input,.contact .php-email-form textarea {border-radius:0;box-shadow:none;font-size:14px;font-family:al-jazeera-arabic-bold,sans-serif}
.contact .php-email-form input:focus,.contact .php-email-form textarea:focus {border-color:#1056ad}
.contact .php-email-form input {padding:10px 15px}
.contact .php-email-form textarea {padding:12px 15px}
.contact .php-email-form button[type=submit] {background:#1056ad;border:0;padding:10px 30px;color:#fff;transition:all .5s ease-in-out;border-radius:4px}
.contact .php-email-form button[type=submit]:hover {background:#f80}
@-webkit-keyframes animate-loading{0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@keyframes animate-loading{0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
#footer {background:#f1f6fe;padding-top:20px;padding-bottom:20px;color:#444;font-size:14px;visibility:auto}
#footer .footer-top {padding:30px 0;background:#f1f6fe}
#footer .footer-top .footer-contact {line-height:1.6;font-family:Poppins,al-jazeera-arabic-bold,sans-serif}
#footer .footer-top .footer-contact .fourz4 {color:#d17000;font-size:24px;font-family:al-jazeera-arabic-bold,sans-serif}
#footer .footer-top .footer-contact p {margin:0;line-height:2.1;padding-right:10px;padding-top:3px;font-size:14px;color:#444;font-family:al-jazeera-arabic-bold,sans-serif}
#footer .footer-top .footer-contact a {font-weight:600}
#footer .footer-top .footer-contact span {font-family:al-jazeera-arabic-bold,sans-serif}
#footer .footer-top .footer-contact i {font-size:18px;padding-right:10px;padding-top:3px;font-family:Poppins,sans-serif}
#footer .footer-top .footer-links p {padding-right:10px;padding-bottom:74px;color:#444;font-size:16px;font-family:al-jazeera-arabic_regular,poppins,sans-serif}
#footer .footer-top .footer-links span {color:#222;font-size:18px;padding-bottom:30px;font-family:al-jazeera-arabic-bold,sans-serif}
#footer .footer-top .footer-links ul {list-style:none;padding:0;margin:0}
#footer .footer-top .footer-links ul i {padding-right:5px;padding-top:3px;color:#1056ad;font-size:18px;line-height:1}
#footer .footer-top .footer-links ul li {padding:10px 0;display:flex;align-items:center}
#footer .footer-top .footer-links ul li:first-child {padding-top:0}
#footer .footer-top .footer-links ul a {color:#444;transition:all .5s ease-in-out;display:inline-block;line-height:1}
#footer .footer-top .footer-links ul a:hover {text-decoration:none;color:#1056ad}
#footer .footer-top .social-links a {padding-right:10px;font-size:22px;display:inline-block;background:#3b8af2;color:#fff;line-height:1;padding:8px 0;margin-right:4px;border-radius:4px;text-align:center;box-sizing:border-box;width:36px;height:36px;transition:all 1s ease-in-out}
#footer .footer-top .social-links a:hover {background:#f80;color:#fff;text-decoration:none;box-shadow:0 0 10px #3b8af2}
#footer .footer-top .social-links .facebook {margin-right:10px}
#footer .footer-top .social-links .twitter-svg {padding-bottom:10px}
#footer .copyright {text-align:center;float:left;font-family:al-jazeera-arabic-bold,sans-serif}
#footer .credits {float:right;text-align:center;font-size:14px;color:#444;font-family:al-jazeera-arabic-bold,sans-serif}

@media screen and (max-width:768px){#footer .copyright,#footer .credits {float:none;text-align:center;padding:2px 0}}
hr {width:100px;border-top: 5px solid #3b8af2;color:#3b8af2;align-content:center;margin-left:auto;margin:50px auto}
.inner-page {padding:20px;margin:10px;background:#f1f6fe;box-shadow:0 2px 15px rgba(0,0,0,.1)}
.inner-page img {border:10px solid #f80;display:block;margin:auto;transition:all 1.5s ease-in-out;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}
.inner-page img:hover {scale:1.05}
.inner-page .container {padding-bottom:60px;font-size:20px;line-height:1.6;font-family:al-jazeera-arabic_regular,sans-serif}
.inner-page span {color:#f80}
.inner-page ul li {padding-bottom:5px}
.inner-page h3 {font-size:20px}
.callout {position:fixed;max-width:270px;bottom:10px;z-index:2;visibility:hidden;opacity:0;right:10px}
.callout.active {visibility:visible;opacity:1}
.callout-header {padding:25px 15px;background-color:#f1f6fe;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);font-size:28px;color:#000061;font-family:al-jazeera-arabic-bold,sans-serif}
.callout-container {padding:15px;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222);background-color:rgb(255,136,0);color:#fff;font-size:18px;font-family:al-jazeera-arabic-bold,sans-serif}
.callout-container a:hover {color:#000061}
.closebtn {position:absolute;top:-5px;left:10px;color:#000061;font-size:30px;cursor:pointer}
.closebtn:hover {color:#f80}
.quote {color:#b85a00;font-style:italic;font-size:28px;text-align:center;line-height:1.6;margin:0 10px;font-family:al-jazeera-arabic_regular,sans-serif}
.quote3 {color:#f80;font-style:italic;font-size:28px;text-align:center;line-height:1.6;margin:0 10px;font-family:al-jazeera-arabic_regular,sans-serif}

.quote2 {color:#b85a00;font-style:italic;font-size:22px;font-family:al-jazeera-arabic_regular,sans-serif}
table,td,th {border:1px solid #000;border-collapse:collapse;max-width:96%;margin:auto;box-shadow:0 2px 15px rgba(0, 0, 0, 0.5);font-family:al-jazeera-arabic-bold,sans-serif}
th {text-align:center;vertical-align:middle;line-height:.8;color:#000061;font-size:15px}
td {font-size:16px}
.pager {padding-left:0;margin:20px 0;text-align:center;list-style:none;font-family:al-jazeera-arabic-bold,sans-serif}
.pager i {font-weight:800}
.pager li {display:inline}
.pager li>a,.pager li>span {display:inline-block;padding:5px 14px;background-color:#fff;border:3px solid #f80;border-radius:15px}
.pager li>a:focus,.pager li>a:hover {text-decoration:#fff;background-color:#000061}
.pager .next>a,.pager .next>span {float:right;position:absolute;right:40px;box-shadow:4px 3px 3px 3px #888;font-weight:600}
.pager .previous>a,.pager .previous>span {float:left;position:absolute;left:40px;box-shadow:-4px 3px 3px 3px #888;font-weight:600}
.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span {color:#777;cursor:not-allowed;background-color:#fff}
.wrap-collabsible{margin:0}
input[type=checkbox] {display:none;scroll-behavior:smooth}
.lbl-toggle {display:block;position:relative;font-size:1rem;text-align:center;padding:.3rem;color:#000061;background:#f80;cursor:pointer;transition:all .5s ease-in-out;font-family:al-jazeera-arabic-bold}
.lbl-toggle:hover {color:#fff;background:#1056ad}
.lbl-toggle::before {content:' ';display:inline-block;border-top:7px solid transparent;border-bottom:7px solid transparent;border-right:7px solid currentColor;vertical-align:middle;margin-left:.7rem;transform:translateY(-2px);transition:transform .5s ease-in-out}
.toggle:checked+.lbl-toggle::before {transform:rotate(270) translateX(-1px)}
.collapsible-content {max-height:0;overflow:hidden;transition:max-height .5s ease-in-out}
.toggle:checked+.lbl-toggle+.collapsible-content {max-height:100vh}
.toggle:checked+.lbl-toggle {border-bottom-right-radius:0;border-bottom-left-radius:0}
.collapsible-content .content-inner {background:#fff;padding:.1rem 1rem;text-align:center;font-size:200%}
.collapsible-content .content-inner .whatsapp {position:relative;display:inline-block;width:50px;height:50px;line-height:53px;border-radius:50%;margin:5px 0;font-size:30px;color:#25d366;transition:.5s}
.collapsible-content .content-inner .whatsapp::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;background:#25d366;transition:1.5s;z-index:-1}
.collapsible-content .content-inner .whatsapp:hover {background:#25d366;color:#fff;box-shadow:0 0 10px #f80;text-shadow:0 0 5px #25d366;scale:.7}
.collapsible-content .content-inner .linkedin {position:relative;display:inline-block;width:50px;height:50px;line-height:53px;border-radius:50%;margin:5px 0;font-size:30px;color:#0072b1;transition:.5s}
.collapsible-content .content-inner .linkedin::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;background:#0072b1;transition:1.5s;z-index:-1}
.collapsible-content .content-inner .linkedin:hover {background:#0072b1;color:#fff;box-shadow:0 0 10px #f80;text-shadow:0 0 5px #0072b1;scale:.7}
.collapsible-content .content-inner .facebook {position:relative;display:inline-block;width:50px;height:50px;line-height:53px;border-radius:50%;margin:5px 0;font-size:30px;color:#4267b2;transition:.5s}
.collapsible-content .content-inner .facebook::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;background:#4267b2;transition:1.5s;z-index:-1}
.collapsible-content .content-inner .facebook:hover {background:#4267b2;color:#fff;box-shadow:0 0 10px #f80;text-shadow:0 0 5px #4267b2;scale:.7}
.collapsible-content .content-inner .twitter {position:relative;display:inline-block;width:50px;height:50px;line-height:53px;border-radius:50%;margin:5px 0;font-size:30px;color:#00acee;transition:.5s}
.collapsible-content .content-inner .twitter::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;background:#00acee;transition:1.5s;z-index:-1}
.collapsible-content .content-inner .twitter:hover {background:#00acee;color:#fff;box-shadow:0 0 10px #f80;text-shadow:0 0 5px #00acee;scale:.7}
.linktext {text-align:center;font-style:italic;margin-top:25px;font-size:17px;color:#000061;font-family:al-jazeera-arabic-bold,sans-serif}
.linktext:hover {color:#f80}
.ornament {display:block;margin-left:auto;margin-right:auto;width:100%;height:100%;-webkit-filter:drop-shadow(0 5px 5px #222);filter:drop-shadow(0 5px 5px #222)}